.displayGridStats {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-bottom: 10px;
}

select {
    width: 150px;
    height: 30px;
    padding: 0 20px;
    background-color: #F5F5F7;
    outline: none;
    border: none;
}
