.searchDiv {
    display: flex;
    background-color: #F5F5F7;
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
}

.displayFlexRow {
    display: flex;
}

.searchIcon {
    margin: 10px;
}

.input {
    outline: none;
    border: none;
    background: transparent;
    margin-left: 10px;
}

.images {
    padding: 5px 10px;
    filter: opacity(0.8);
    margin-top: 20px;
}

.images:hover {
    cursor: pointer;
}

.coursesInfoGrid {
    display: grid;
    grid-template-columns: 160px 160px;
    grid-gap: 100px;
    margin-top: 20px;
}

.coursesInfoGrid > div {
    background-color: #F5F5F7;
    border-radius: 15px;
    display: flex;
    line-height: 20px;
    padding: 10px 10px 0;
}

.coursesInfoGrid > div:hover {
    cursor: pointer;
}

.coursesInfoGrid h1 {
    margin-top: 10px;
}

.h1 {
    text-align: left;
}

.learnMoreGrid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #F5F5F7;
    border-radius: 15px;
    margin-top: 15px;
    text-align: left;
    padding-left: 20px;
}

.learnMoreGrid div {
    margin-top: 10px;
}

.premiumButton {
    background-color: black;
    color: white;
    outline: none;
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.premiumButton:hover {
    cursor: pointer;
}