.cont {
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-around;
    background-color: #F5F5F7;
    padding-top: 10px;
    border-radius: 15px;
    font-size: 15px;
}

.cont:hover {
    cursor: pointer;
}

.name {
    width: 170px;
}

.logo {
    height: 50px;
    width: 50px;
}

.img {
    height: 30px;
    position: relative;
    top: 10px;
}

.viewCourseButton {
    background-color: white;
    border: 2px solid black;
    outline: none;
    height: 80%;
    width: 100px;
    border-radius: 8px;
}

.viewCourseButton:hover {
    cursor: pointer;
}